@import url("./css/cards.css");
@import url("./css/horizontal.css");
@import url("./css/grid.css");

:root {
  --cb: cubic-bezier(0.7, 0.32, 0.36, 0.73);
  --scaleStart: 0.95;
  --scaleEnd: 1;
  --positivePx: 30px;
  --negativePx: -30px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Gabarito", sans-serif;
}

@media (prefers-reduced-motion) {
  ::view-transition-root(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none;
  }
}
