:root {
  --cb: cubic-bezier(0.7, 0.32, 0.36, 0.73);
  --scaleStart: 0.95;
  --scaleEnd: 1;
  --positivePx: 30px;
  --negativePx: -30px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Gabarito", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  height: 400vh;
  view-timeline: --vw;
}

.scroll-warning {
  position: fixed;
  top: 0;
  width: 100%;
  justify-items: center;
  animation: warning-scroll linear both;
  animation-timeline: --vw;
  animation-range: 20% 35%;
}

.scroll-warning p {
  font-size: 3rem;
  z-index: 5;
  text-align: center;
}

.images {
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  animation: fade-move var(--cb) both;
  animation-timeline: --vw;
  animation-range: var(--range);
  object-position: var(--position);
  cursor: pointer;
}

@keyframes warning-scroll {
  from {
    opacity: 1;
    transform: translateY(0);
    scale: var(--scaleStart);
  }

  to {
    opacity: 0;
    transform: translateY(var(--negativePx));
    scale: var(--scaleEnd);
  }
}

@keyframes fade-move {
  from {
    opacity: 0;
    transform: translate(var(--x, 0), var(--y, 30px));
    filter: hue-rotate(0) blur(5px) grayscale(1);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: hue-rotate(1turn) blur(0) grayscale(0);
    pointer-events: all;
  }
}

.image-1 {
  --x: 0;
  --y: var(--positivePx);
  --range: 40% 60%;
  --position: 0% 100%;
}
.image-2 {
  --x: var(--negativePx);
  --y: 0;
  --range: 30% 60%;
  --position: 0% 45%;
}
.image-3 {
  --x: var(--positivePx);
  --y: 0;
  --range: 60% 80%;
  --position: 0% 0%;
}
.image-4 {
  --x: var(--negativePx);
  --y: 0px;
  --range: 50% 80%;
  --position: 0% 0%;
}
.image-5 {
  --x: 0;
  --y: var(--positivePx);
  --range: 20% 50%;
  --position: 0% 50%;
}
.image-6 {
  --x: 0px;
  --y: var(--negativePx);
  --range: 30% 70%;
  --position: 0% 50%;
}

.grid-items {
  height: 100vh;
}
